.payment-wrapper {
    width: 100%;
    min-width: 1550px;
    padding: 0 20px;
    margin: 0 auto 900px 215px;
}

.payment-table-wrapper {
    overflow-x: auto;
    animation: fadeInSlide 0.6s ease-in-out;
}

.payment-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    min-width: 1000px;
    background-color: #374252;
    border-radius: 12px;
    overflow: hidden;
}

.payment-table thead th {
    background-color: #1e2c3d;
    padding: 14px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #9ca3af;
    border-bottom: 1px solid #374151;
}

.payment-table tbody tr:hover {
    background-color: #374151;
}

.payment-table td {
    padding: 14px;
    text-align: center;
    font-size: 15px;
    color: #e5e7eb;
    border-bottom: 1px solid #374151;
}

@keyframes fadeInSlide {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}